{% extends "admin/admin-layout.html" %}
{% set active_page = "students" %}

{% block styles %} 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">
	<style>
		#studentsTable tr {
    	cursor: pointer;
		}
		#studentsTable tr label {
    	cursor: pointer;
		}
		#addStudentsModal .fixed-table-toolbar > div {
			margin-top: 0;
			padding-top: 0;
		}
		/* #### fix for page content shifting left when opening studentsModal #### */
		.modal {
   	 overflow-y: auto;
		}
		.modal-open {
			overflow: auto;
		}
		.modal-open[style] {
			padding-right: 0px !important;
		}
		/* ########################################################################*/
		.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, 
		.pagination>.active>span:hover, .pagination>.active>a:focus, 
		.pagination>.active>span:focus {
			font-weight: bold;
		}
		
		@media (min-width: 1200px){
			.container {
				max-width: 1360px;
			}
		}

	</style>
{% endblock styles %}

{% block content %}
<h1>Students</h1>
<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %} 
		{% if messages %} 
			{% for category, message in messages %}
				{% if editFormErrorStudentId == '' and not editProjectForm.errors %}
					<div class="alert alert-{{ category }} mt-4">
						{{ message }}
					</div>
				{% endif %}
			{% endfor %} 
		{% endif %} 
	{% endwith %}
	{% if totalStudents > 0 %}
		<table id="mainTable" data-toggle="table" data-search="false" data-pagination="true" data-filter-control="true" data-show-export="false"
		data-click-to-select="true" data-toolbar="#toolbar" data-pagination-v-align="bottom" data-strict-search="false" data-sort-name="year" data-sort-order="desc" data-url="/Admin/Students/json" data-side-pagination="server">
			<thead>
				<tr>
					<th data-field="profilePic" data-formatter="" data-sortable="false">Profile Picture</th>
					<th data-field="year" data-filter-control="select" data-sortable="true">Year</th>
					<th data-field="semester" data-filter-control="select" data-sortable="true">Semester</th>
					<th data-field="studentId" data-sortable="true">Id</th>
					<th data-field="firstNameHeb" data-sortable="true" data-filter-control="input">First Name</th>
					<th data-field="lastNameHeb" data-sortable="true" data-filter-control="input">Last Name</th>
					<th data-field="lastProjectTitle" data-filter-control="select" data-sortable="true">Last Project</th>
					<th data-field="lastProjectStatus" data-filter-control="select" data-sortable="true">Status</th>
					<th data-field="btnEdit" data-name="btnEdit"></th>
					<th data-field="btnDelete" data-name="btnDelete"></th>
				</tr>
			</thead>
		</table>
	{% else %}
		<h6>Looks like there are no students yet... <span style="font-size:1.3em;">😁</span></h6>
	{% endif %}

	<!-- #################	Edit Student modal	################# -->
	<div class="modal fade bg" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="editStudentModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="color: #000;">
				<div class="modal-header">
					<h5 class="modal-title" id="editStudentModalLabel">Edit Student</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages and editFormErrorStudentId %}
						{% for category, message in messages %}
							{% if category!="success" %}
								<div class="alert alert-{{ category }}">
									{{ message }}
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endwith %}
				<form class="form" id="editStudentForm" method="POST" action="{{ url_for('manageStudents') }}">
					<input type="hidden" name="sentFormName" value="editStudentForm">
					<div class="modal-body">
						{{ editForm.hidden_tag() }}
						<div class="form-group row">
								{{ editForm.studentId.label(class="col-md-3 col-form-label") }}
								<div class="col-md-7 my-auto">
									{% if editForm.studentId.errors %} 
										{{ editForm.studentId(class="form-control is-invalid") }}
										<div class="invalid-feedback">
											{% for error in editForm.studentId.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ editForm.studentId(class="form-control") }} 
									{% endif %}		
								</div>
						</div>

						<div class="form-group row">
								<label class="col-md-3 col-form-label">Registration Year</label>
								<div class="col-md-7 my-auto">
									<select id="year" class="custom-select form-control" disabled>
										<option></option>
									</select>
								</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 col-form-label">Registration Semester</label>
							<div class="col-md-7 my-auto">
								<select id="semester" class="custom-select form-control" disabled>
									<option></option>
								</select>
							</div>
						</div>

						<div class="form-group row">
								{{ editForm.firstNameHeb.label(class="col-md-3 col-form-label") }}
								<div class="col-md-7 my-auto">
									{% if editForm.firstNameHeb.errors %} 
										{{ editForm.firstNameHeb(class="form-control is-invalid") }}
										<div class="invalid-feedback">
											{% for error in editForm.firstNameHeb.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ editForm.firstNameHeb(class="form-control") }} 
									{% endif %}		
								</div>
						</div>

						<div class="form-group row">
							{{ editForm.lastNameHeb.label(class="col-md-3 col-form-label") }}
							<div class="col-md-7 my-auto">
								{% if editForm.lastNameHeb.errors %} 
									{{ editForm.lastNameHeb(class="form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editForm.lastNameHeb.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ editForm.lastNameHeb(class="form-control") }} 
								{% endif %}		
							</div>
						</div>

						<div class="form-group row">
							{{ editForm.firstNameEng.label(class="col-md-3 col-form-label") }}
							<div class="col-md-7 my-auto">
								{% if editForm.firstNameEng.errors %} 
									{{ editForm.firstNameEng(class="form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editForm.firstNameEng.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ editForm.firstNameEng(class="form-control") }} 
								{% endif %}		
							</div>
						</div>

						<div class="form-group row">
							{{ editForm.lastNameEng.label(class="col-md-3 col-form-label") }}
							<div class="col-md-7 my-auto">
								{% if editForm.lastNameEng.errors %} 
									{{ editForm.lastNameEng(class="form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editForm.lastNameEng.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ editForm.lastNameEng(class="form-control") }} 
								{% endif %}		
							</div>
						</div>

						<div class="form-group row">
							{{ editForm.email.label(class="col-md-3 col-form-label") }}
							<div class="col-md-7 my-auto">
								{% if editForm.email.errors %} 
									{{ editForm.email(class="form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editForm.email.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ editForm.email(class="form-control") }} 
								{% endif %}		
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="profilePic">Profile Picture</label>
							<div class="col-md-7 my-auto">
								<img id="profilePic" style="max-width:100%;	width: auto;height: 250px;">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="lastProjects">Last Projects</label>
							<div class="col-md-7 my-auto" id="lastProjects">
							</div>
						</div>
				</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						{{ editForm.submitEditForm(class="btn btn-success") }}
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- ######################################################### -->

		<!-- #################	Edit Project modal	################# -->
	<div class="modal fade bg" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="editProjectModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="color: #000;">
				<div class="modal-header">
					<h5 class="modal-title" id="editProjectModalLabel">Edit Project</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages and editProjectErrorId %}
						{% for category, message in messages %}
							{% if category!="success" %}
								<div class="alert alert-{{ category }}">
									{{ message }}
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endwith %}
				<form class="form" id="editProjectForm" method="POST" action="{{ url_for('manageProjects') }}" enctype="multipart/form-data">
					<input type="hidden" name="sentFormName" value="editProjectForm">
					<input type="hidden" name="studentsReferrer" value="1">
					<div class="modal-body">
						{{ editProjectForm.hidden_tag() }}

						<div class="form-group row">
							{{ editProjectForm.title.label(class="col-md-3 col-form-label") }} 
							<div class="col-md-7">
								{% if editProjectForm.title.errors %} 
									{{ editProjectForm.title(class="form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editProjectForm.title.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %} 
									{{ editProjectForm.title(class="form-control") }} 
								{% endif %}
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-3 col-form-label">Students</div>
							<div name="studentsList" class="col-md-7" style="text-align: right;direction: rtl;">
							</div>
						</div>

						
						<div class="form-group row">
							{{ editProjectForm.year.label(class="col-md-3 col-form-label") }} 
							<div class="col-md-7">
								{% if editProjectForm.year.errors %} 
									{{ editProjectForm.year(class="custom-select form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editProjectForm.year.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %} 
									{{ editProjectForm.year(class="custom-select form-control") }} 
								{% endif %}
							</div>
						</div>

						<div class="form-group row">
							{{ editProjectForm.semester.label(class="col-md-3 col-form-label") }} 
							<div class="col-md-7">
								{% if editProjectForm.semester.errors %} 
									{{ editProjectForm.semester(class="custom-select form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editProjectForm.semester.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %} 
									{{ editProjectForm.semester(class="custom-select form-control") }} 
								{% endif %}
							</div>
						</div>

						<div class="form-group row">
							{{ editProjectForm.supervisor1.label(class="col-md-3 col-form-label") }} 
							<div class="col-md-7">
								{% if editProjectForm.supervisor1.errors %} 
									{{ editProjectForm.supervisor1(class="custom-select form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editProjectForm.supervisor1.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %} 
									{{ editProjectForm.supervisor1(class="custom-select form-control") }} 
								{% endif %}
							</div>
						</div>
						
						<div class="form-group row">
							{{ editProjectForm.supervisor2.label(class="col-md-3 col-form-label") }} 
							<div class="col-md-7">
								{% if editProjectForm.supervisor2.errors %} 
									{{ editProjectForm.supervisor2(class="custom-select form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editProjectForm.supervisor2.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %} 
									{{ editProjectForm.supervisor2(class="custom-select form-control") }} 
								{% endif %}
							</div>
						</div>

						<div class="form-group row">
							{{ editProjectForm.supervisor3.label(class="col-md-3 col-form-label") }} 
							<div class="col-md-7">
								{% if editProjectForm.supervisor3.errors %} 
									{{ editProjectForm.supervisor3(class="custom-select form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editProjectForm.supervisor3.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %} 
									{{ editProjectForm.supervisor3(class="custom-select form-control") }} 
								{% endif %}
							</div>
						</div>

						<div class="form-group row">
							{{ editProjectForm.comments.label(class="col-md-3 col-form-label") }} 
							<div class="col-md-7">
								{% if editProjectForm.comments.errors %} 
									{{ editProjectForm.comments(class="form-control is-invalid", rows="6", style="height:100%;direction:rtl;") }}
									<div class="invalid-feedback">
										{% for error in editProjectForm.comments.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %} 
									{{ editProjectForm.comments(class="form-control", rows="6", style="height:100%;direction:rtl;") }} 
								{% endif %}
							</div>
						</div>

						<div class="form-group row">
							{{ editProjectForm.image.label(class="col-md-3") }} 
							<div class="col-md-6">
								{% if editProjectForm.image.errors %} 
								{{ editProjectForm.image(class="custom-file-input is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editProjectForm.image.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %} 
									{{ editProjectForm.image(class="custom-file-input") }} 
								{% endif %}
								<label class="custom-file-label text-left" for="image">Choose file</label>	
							</div>								
						</div>

						<div class="form-group row">
							{{ editProjectForm.grade.label(class="col-md-3 col-form-label") }} 
							<div class="col-md-3">
								{% if editProjectForm.grade.errors %} 
									{{ editProjectForm.grade(class="form-control is-invalid") }}
									<div class="invalid-feedback">
										{% for error in editProjectForm.grade.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %} 
									{{ editProjectForm.grade(class="form-control") }} 
								{% endif %}
							</div>
							<div class="col-md-4"></div>
						</div>

						<div class="form-group row">
							<div class="col-md-3 col-form-label">Status</div>
							<div class="col-md-7" style="text-align: right;direction:rtl;">
								<div class="custom-control custom-checkbox px-2 py-1 mb-2 project-status-stage" style="background-color: rgba(117, 225, 131, 0.36);">
									<input class="custom-control-input" id="firstStage" type="checkbox" checked>
									<label class="custom-control-label checkbox-inline font-weight-bold" for="firstStage">1. הרשמה</label>
								</div>

								<div class="custom-control custom-checkbox px-2 py-1 project-status-stage">
									<input class="custom-control-input" id="secondStage" type="checkbox">
									<label class="custom-control-label checkbox-inline font-weight-bold" for="secondStage">2. התנעה</label>
								</div>
									<div class="custom-control custom-checkbox" style="margin-right: 2em;">
										{{ editProjectForm.requirementsDoc(class="custom-control-input") }}
										{{ editProjectForm.requirementsDoc.label(class="custom-control-label checkbox-inline") }}
									</div>
									<div class="custom-control custom-checkbox mb-2" style="margin-right: 2em;">
										{{ editProjectForm.firstMeeting(class="custom-control-input") }}
										{{ editProjectForm.firstMeeting.label(class="custom-control-label checkbox-inline") }}
									</div>

								<div class="custom-control custom-checkbox px-2 py-1 project-status-stage">
									<input class="custom-control-input" id="thirdStage" type="checkbox">
									<label class="custom-control-label checkbox-inline font-weight-bold" for="thirdStage">3. אמצע</label>
								</div>
									<div class="custom-control custom-checkbox mb-2" style="margin-right: 2em;">
										{{ editProjectForm.halfwayPresentation(class="custom-control-input") }}
										{{ editProjectForm.halfwayPresentation.label(class="custom-control-label checkbox-inline") }}
									</div>
								
								<div class="custom-control custom-checkbox px-2 py-1 project-status-stage">
									<input class="custom-control-input" id="fourthStage" type="checkbox">
									<label class="custom-control-label checkbox-inline font-weight-bold" for="fourthStage">4. סיום</label>
								</div>
									<div class="custom-control custom-checkbox" style="margin-right: 2em;">
										{{ editProjectForm.finalMeeting(class="custom-control-input") }}
										{{ editProjectForm.finalMeeting.label(class="custom-control-label checkbox-inline") }}
									</div>
									<div class="custom-control custom-checkbox" style="margin-right: 2em;">
										{{ editProjectForm.projectReport(class="custom-control-input") }}
										{{ editProjectForm.projectReport.label(class="custom-control-label checkbox-inline") }}
									</div>
									<div class="custom-control custom-checkbox" style="margin-right: 2em;">
										{{ editProjectForm.equipmentReturned(class="custom-control-input") }}
										{{ editProjectForm.equipmentReturned.label(class="custom-control-label checkbox-inline") }}
									</div>
									<div class="custom-control custom-checkbox" style="margin-right: 2em;">
										{{ editProjectForm.projectDoc(class="custom-control-input") }}
										{{ editProjectForm.projectDoc.label(class="custom-control-label checkbox-inline") }}
									</div>
									<div class="custom-control custom-checkbox" style="margin-right: 2em;">
										{{ editProjectForm.gradeStatus(class="custom-control-input") }}
										{{ editProjectForm.gradeStatus.label(class="custom-control-label checkbox-inline") }}
									</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						{{ editProjectForm.submitEditForm(class="btn btn-success") }}
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- ######################################################## -->

	<div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="deleteStudentModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteStudentModalLabel">Delete Student</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
						<button type="button" onclick='document.getElementById("deleteStudentForm").submit()' class="btn btn-primary">Yes</button>
					</div>
				</div>
			</div>
		</div>

	<!-- ###################  addStudentsModal #################################### -->
	<div class="modal fade bg" id="addStudentsModal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="addStudentsModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="color: #000;">
				<div class="modal-header">
					<h5 class="modal-title" id="addStudentsModalLabel">Add Students</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table id="studentsTable" data-toggle="table" data-search="false" data-pagination="true" data-filter-control="true" data-show-export="false" data-click-to-select="true" data-pagination-v-align="bottom" data-sort-name="registrationYear" data-sort-order="desc" data-strict-search="false" data-url="/Admin/StudentsForProject/json" data-side-pagination="server" data-unique-id="id">
						<thead>
							<tr>
								<th data-field="profilePic" data-formatter="" data-sortable="false">Profile Picture</th>
								<th data-field="registrationYear" data-filter-control="select" data-sortable="true">Year</th>
								<th data-field="registrationSemester" data-filter-control="select" data-sortable="true">Semester</th>
								<th data-field="studentId" data-sortable="true">Id</th>
								<th data-field="firstNameHeb" data-sortable="true" data-filter-control="input">First Name</th>
								<th data-field="lastNameHeb" data-sortable="true" data-filter-control="input">Last Name</th>
								<th data-field="id" data-class='hiddenColumn'></th>
							</tr>
						</thead>
					</table>
				</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-success" id="btnSaveStudentChanges" onclick='addSelectedStudents()' data-dismiss="modal">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- #################### end of addStudentsModal  ######################### -->

	<form id="deleteStudentForm" method="POST" action="{{ url_for('manageStudents') }}/Delete">
		{{ deleteForm.hidden_tag() }}
	</form>
	<img src="/static/images/powered_by.png" class="mt-5 img-responsive">
</div>
<!-- script to display the filename when choosing a profile picture -->
{% endblock content %}

{% block scripts %}
	<script src="/static/js/bootstrap-table.js"></script>
	<script src="/static/js/bootstrap-table-filter-control.js"></script>

	<script>
		/* show file name in the input box when selecting a file */
		$('#image').on('change',function(){
			let fileName = $(this).val().split('\\').pop(); 
			$(this).next('.custom-file-label').addClass("selected").html(fileName); 
		})

		function getStudentData(id) {
			var xmlhttp = new XMLHttpRequest();
			var url = "/Admin/Students/"+id+"/json";
			xmlhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var data = JSON.parse(this.responseText);
					editStudent(data);		
				}
			};
			xmlhttp.open("GET", url, true);
			xmlhttp.send();
		}

		function editStudent(studentData) {
			$("#editStudentForm #id").val(studentData.id);
			$("#editStudentForm #studentId").val(studentData.studentId);
			
			$("#year option:first").val(studentData.year);	
			$("#year option:first").text(studentData.year);	
			$("#semester option:first").val(studentData.semester);	
			$("#semester option:first").text(studentData.semester);	

			$("#editStudentForm #email").val(studentData.email);
			$("#editStudentForm #firstNameEng").val(studentData.firstNameEng);
			$("#editStudentForm #lastNameEng").val(studentData.lastNameEng);
			$("#editStudentForm #firstNameHeb").val(studentData.firstNameHeb);
			$("#editStudentForm #lastNameHeb").val(studentData.lastNameHeb);
			$("#editStudentForm img#profilePic").attr("src", "/static/images/profile/"+studentData.profilePic);

			$("#editStudentForm #lastProjects").empty();
			if (studentData.lastProjects.length > 0) {
				studentData.lastProjects.forEach(function(project, index) {
					var projectBtn = '<div><a href="javascript:void(0);" onclick="getProjectData('+project.id+')" class="badge badge-primary px-2 mt-2" style="background-color: #9d6bff;padding: 1em 0;">'+project.title+'</a></div>';
					$("#editStudentForm #lastProjects").append(projectBtn);
				});	
			}
			else {
				$("#editStudentForm #lastProjects").append("<small>No projects</small>");
			}

			var editProjectModalZIndex = parseInt($("#editProjectModal").css("z-index"));
			$("#editStudentModal").css("z-index", editProjectModalZIndex+1);
			$('#editStudentModal').modal("show");
		}

		{% if editFormErrorStudentId %}
			getStudentData({{editFormErrorStudentId}});
			$('#editStudentModal').modal("show");
		{% endif %}

		function deleteStudent(id){
			$("#deleteStudentForm").find('#deleteStudentId').val(id);
		}

		/* ################################# */
		/* ################################# */
		/* ################################# */
		/* ################################# */
		/* ################################# */
		/* ################################# */

		/* ------------ Project modal related stuff ------------ */

		var projectStageUncompletedColor = "rgba(91, 195, 242, 0.25)";
		var projectStageCompletedColor = "rgba(117, 225, 131, 0.36)";
		var editProjectTempStudentsList = [];
		var editProjectStudentsList = [];
		var coursesList = [
			{% for course in courses %}
				{% if loop.index > 1 %},{% endif %}
				{	
					id: {{ course.id }},
					number: {{ course.number }}
				}
			{% endfor %}
		];
		var defaultCourseId = coursesList[0] ? coursesList[0].id : '';

		function getProjectData(id) {
			var xmlhttp = new XMLHttpRequest();
			var url = "/Admin/Projects/"+id+"/json";
			xmlhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var data = JSON.parse(this.responseText);
					editProject(data);		
				}
			};
			xmlhttp.open("GET", url, true);
			xmlhttp.send();
		}

		function editProject(projectData) {
			$("#editProjectForm #projectId").val(projectData.id);
			$("#editProjectForm #title").val(projectData.title);
			if ($("#editProjectForm #year option[value='"+projectData.year+"']").length == 0) {
				$("#editProjectForm #year").prepend("<option value='"+projectData.year+"' selected='selected'>"+year+"</option>");
			}
			$("#editProjectForm #year").val(projectData.year);	
			$("#editProjectForm #semester").val(projectData.semester);	
			$("#editProjectForm #comments").val(projectData.comments);
			$("#editProjectForm #grade").val(projectData.grade);
			
			// clear students list and add all the students in the project
			editProjectStudentsList = [];
			$("#editProjectForm div[name='studentsList']").empty();	
			var htmlContent = "";
			if (projectData.students) {
				htmlContent = '<table class="table table-sm text-right"><tbody>';
				projectData.students.forEach(function(student, index) {
					var courseOptions = '<td><select name="studentsCoursesIds" onchange="changeCourseNumInStudentsList(this)" class="custom-select form-control my-auto" style="width:auto;height:2.3em;font-size:0.7em;">';
					coursesList.forEach(function(course) {
						if (student.courseId == course.id) {
							courseOptions += "<option value='"+course.id+"' selected>"+course.number+"</option>";
						}
						else {
							courseOptions += "<option value='"+course.id+"'>"+course.number+"</option>";
						}
					});	
					courseOptions += '</select></td>';
					var studentRow = "<tr><td><input type='hidden' name='students' value='"+student.id+"'><button type='button' name='btnRemoveStudent' onclick='removeStudentFromList(this)' class='btn btn-danger btn-sm' style='padding: 1px 4px;'><i class='fa fa-remove'></i></button><span name='studentName'><a href='javascript:void(0)' onclick='getStudentData("+student.id+")' class='badge badge-light py-1' style='font-size:1em; white-space: normal;'>"+student.fullNameHeb+"</a></span></td>"+courseOptions+"</tr>";
					htmlContent += studentRow;
					editProjectStudentsList.push({
							"id": student.id, 
							"fullNameHeb": student.fullNameHeb,
							"courseId": student.courseId
					})
				});	
			}
			htmlContent += '<tr><td colspan="2"><button type="button" name="btnAddStudents" class="btn btn-success mt-2"><i class="fa fa-plus-circle fa-fw"></i> הוסף</button></td></tr></tbody></table>';
			$("#editProjectForm div[name='studentsList']").append(htmlContent); 
			
			// clear supervisors and set project's supervisors
			$("#editProjectForm #supervisor1").val('')
			$("#editProjectForm #supervisor2").val('')
			$("#editProjectForm #supervisor3").val('')
			
			projectData.supervisors.forEach(function (supervisor, index) {
				$("#editProjectForm #supervisor"+(index+1)).val(supervisor.id);
			});
			
			/* ################## fill in project status checkboxes ################## */

			$('#editProjectForm #requirementsDoc').prop('checked', projectData.requirementsDoc); 
			$('#editProjectForm #firstMeeting').prop('checked', projectData.firstMeeting); 
			$('#editProjectForm #halfwayPresentation').prop('checked', projectData.halfwayPresentation); 
			$('#editProjectForm #finalMeeting').prop('checked', projectData.finalMeeting); 
			$('#editProjectForm #projectReport').prop('checked', projectData.projectReport); 
			$('#editProjectForm #equipmentReturned').prop('checked', projectData.equipmentReturned); 
			$('#editProjectForm #projectDoc').prop('checked', projectData.projectDoc); 
			$('#editProjectForm #gradeStatus').prop('checked', projectData.gradeStatus); 

			colorProjectStages($('#editProjectForm'));

			var editStudentModalZIndex = parseInt($("#editStudentModal").css("z-index"));
			$("#editProjectModal").css("z-index", editStudentModalZIndex+1);
			$("#addStudentsModal").css("z-index", editStudentModalZIndex+2);
			$('#editProjectModal').modal("show");
		}
		
		function colorProjectStages(form) {
			var secondStageCompleted = form.find('#requirementsDoc').is(':checked') && form.find('#firstMeeting').is(':checked');
			var thirdStageCompleted = form.find('#halfwayPresentation').is(':checked');
			var fourthStageCompleted = form.find('#finalMeeting').is(':checked') && form.find('#projectReport').is(':checked') && form.find('#equipmentReturned').is(':checked') && form.find('#projectDoc').is(':checked') && form.find('#gradeStatus').is(':checked');
			form.find('#secondStage').prop('checked', secondStageCompleted);
			form.find('#secondStage').parent().css("background-color", (secondStageCompleted ? projectStageCompletedColor : projectStageUncompletedColor));
			form.find('#thirdStage').prop('checked', thirdStageCompleted);
			form.find('#thirdStage').parent().css("background-color", (thirdStageCompleted ? projectStageCompletedColor : projectStageUncompletedColor));
			form.find('#fourthStage').prop('checked', fourthStageCompleted);
			form.find('#fourthStage').parent().css("background-color", (fourthStageCompleted ? projectStageCompletedColor : projectStageUncompletedColor));
		}

		/* ###### prevent user from checking/unchecking stages checkboxes ###### */
		$("#firstStage, #secondStage, #thirdStage, #fourthStage").on('click', function(e) {
				e.stopPropagation();
				return false;
		});

		/* ############  Color project stages automatically ############*/
		$('#requirementsDoc, #firstMeeting, #halfwayPresentation, #finalMeeting, #projectReport, #equipmentReturned, #projectDoc, #gradeStatus').change(function () { 
			colorProjectStages($('#editProjectForm'))
		});

		// fill in gradeStatus checkbox automatically when user inputs a grade
		$('#editProjectForm #grade').keyup(function() {
			$('#editProjectForm #gradeStatus').prop('checked', $(this).val());
			colorProjectStages($('#editProjectForm'));
		});

		$(document).on("click","#editProjectModal button[name='btnAddStudents']", function(e) {
			editProjectTempStudentsList = editProjectStudentsList.slice();
			$('#studentsTable').bootstrapTable('refresh');
			$('#addStudentsModal').modal("show");
		});		

		$('#studentsTable').on('click-row.bs.table', function (e, row, element) {				
			if (element.hasClass("student-selected")) {
				editProjectTempStudentsList = editProjectTempStudentsList.filter(student => student.id !== row.id);
			}
			else {
				let studentToAdd = {
					id: row.id,
					fullNameHeb: row.firstNameHeb+" "+row.lastNameHeb,
					courseId: defaultCourseId
				}
				editProjectTempStudentsList.push(studentToAdd);
			}
			element.toggleClass("student-selected");
		});

		
		$('#studentsTable').on('load-success.bs.table', function (data) {
			// select students that are on the current list
			$('#studentsTable tbody tr').each(function () {
				let currentRowStudentId = $(this).data("uniqueid");
				let currentRow = this;

				editProjectTempStudentsList.forEach(function (student) { 
					if (student.id == currentRowStudentId) {
						$(currentRow).addClass('student-selected');
					}
				});
			});		
		});
		
		function changeCourseNumInStudentsList(e) {
			let studentId = parseInt($(e).closest("tr").find("input[type='hidden']").val());
			let chosenCourseId = parseInt($(e).val());
			changedStudentIndex = editProjectStudentsList.findIndex(s => s.id==studentId);
			editProjectStudentsList[changedStudentIndex].courseId = chosenCourseId;			
		}

		function addSelectedStudents() {
			var baseElement;
			var htmlContent = '<table class="table table-sm"><tbody>';
			var courseOptions = '<td><select name="studentsCoursesIds" onchange="changeCourseNumInStudentsList(this)" class="custom-select form-control my-auto" style="width:auto;height:2.3em;font-size:0.7em;">';
			coursesList.forEach(function(course) {
				if (defaultCourseId == course.id) {
					courseOptions += "<option value='"+course.id+"' selected>"+course.number+"</option>";
				}
				else {
					courseOptions += "<option value='"+course.id+"'>"+course.number+"</option>";
				}
			});	
			courseOptions += '</select></td>';
			
			baseElement = $("#editProjectModal div[name='studentsList']")				
			baseElement.empty();
			editProjectStudentsList = editProjectTempStudentsList.slice();
			editProjectStudentsList.forEach(function (student, index) {
				var studentRow = "<tr><td><input type='hidden' name='students' value='"+student.id+"'><button type='button' name='btnRemoveStudent' onclick='removeStudentFromList(this)' class='btn btn-danger btn-sm' style='padding: 1px 4px;'><i class='fa fa-remove'></i></button><span name='studentName'><a href='javascript:void(0)' onclick='getStudentData("+student.id+")' class='badge badge-light py-1' style='font-size:1em; white-space: normal;'>"+student.fullNameHeb+"</a></span></td>"+courseOptions+"</tr>";
				htmlContent += studentRow;
			});
			
			htmlContent += '<tr><td colspan="2"><button type="button" name="btnAddStudents" class="btn btn-success mt-2"><i class="fa fa-plus-circle fa-fw"></i> הוסף</button></td></tr></tbody></table>';
			baseElement.append(htmlContent);

			// restore chosen course numbers for students still existing after changes
			editProjectStudentsList.forEach(function(student, index) {
				if (baseElement.find("input[name='students'][value='"+student.id+"']").length > 0) {
					baseElement.find("input[name='students'][value='"+student.id+"']").closest("td").next().find("select").val(student.courseId);
				}
			});
		}

		function removeStudentFromList(e) {
			var id = parseInt($(e).siblings("input[name='students']").val());
			editProjectStudentsList = editProjectStudentsList.filter(student => student.id !== id);
			$(e).closest("tr").remove();
		}

		/* ######### fix for body shifting left when closing modal ######### */
		$('#editStudentModal, #addStudentsModal, #editProjectModal').on('hidden.bs.modal', function () {
	    	$("body").addClass('modal-open');
		})

		{% if editProjectErrorId %}
			getProjectData({{editProjectErrorId}});
			$('#editProjectModal').modal("show");
		{% endif %}

	</script>

{% endblock scripts %}