{% extends "layout.html" %} 

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}"> 
{% endblock styles %} 

{% block navbar %}
	<a class="navbar-brand px-4" href="{{ url_for('index') }}">
		<img src="/static/images/headLogo.png" style="max-height: 30px;margin-bottom:5px;"/>	
		AVR Lab 
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
{% endblock navbar %}

{% block content %}
	<div class="container" >
		<h1><i class="fas fa-exclamation-triangle" style="font-size:3em;"></i></h1>
		
		<h1 style="margin-top: 1em;">Something Went Wrong...</h1>
		<h4>Please contact the administrator.</h4>
		<div class="form-group row justify-content-md-center mt-5">
			<div class="btn btn-primary mx-auto">
				<input class="btn btn-primary shadow-none" id="goBackBtn" type="button" value="Go Back" onclick="window.history.back();">
			</div>
		</div>
		<img src="/static/images/powered_by.png" class="mt-5 img-responsive">
		
	</div>
{% endblock content %}