<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	{% block styles %} 
	{% endblock styles %} 
	{% if title %}
		<title>AVR - {{ title }}</title>
	{% else %}
		<title>AVR</title>
	{% endif %}
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
		{% block navbar %}
            {% set active_page = active_page|default('index') -%}
            <a class="navbar-brand px-4" href="{{ url_for('index') }}">
                <img src="/static/images/headLogo.png" style="max-height: 30px;margin-bottom:5px;"/>
                AVR Lab
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="{{ 'nav-link active' if active_page == 'proposedProjects' else 'nav-link'}}" href="{{ url_for('showProposedProjects') }}">Proposed Projects</a>
                    </li>
                    {% if student %}
                        <li class="nav-item">
                            <a class="{{ 'nav-link active' if active_page == 'studentHome' else 'nav-link'}}" href="{{ url_for('home') }}">My Projects</a>
                        </li>
                    {% endif %}
                    {% if admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">Managment Page</a>
                        </li>
                    {% endif %}
                    {% if lab %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">{{ lab.acronym }} Lab Managment</a>
                        </li>
                    {% endif %}
                </ul>

                {% if not current_user.is_authenticated  %}
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                        </li>
                    </ul>
                {% endif %}

                {% if admin %}
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                             aria-expanded="false">Admin</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('adminMail') }}">Mail</a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                            </div>
                        </li>
                    </ul>
                {% endif %}

                {% if lab %}
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                             aria-expanded="false">Lab Admin</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('editLab') }}">Edit Lab</a>
                                <a class="dropdown-item" href="{{ url_for('adminMail') }}">Mail</a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                            </div>
                        </li>
                    </ul>
                {% endif %}

                {% if student %}
                    <div class="navbar-container pull-right">
                        {% if student.profilePic %}
                            <img src="/static/images/profile/{{ student.profilePic }}" alt="student profile" class="avatar" style="max-height: 40px;max-width: 40px;margin-bottom:5px;">
                        {% else %}
                            <img src="/static/images/profile/default.png" alt="default profile" class="avatar" style="max-height: 40px;max-width: 40px;margin-bottom:5px;">
                        {% endif %}
                    </div>
                    <ul class="navbar-nav mt-2 mt-lg-0">

                    <li class="nav-item dropdown my-2 my-lg-0">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ student.firstNameEng }} {{ student.lastNameEng }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('home') }}">My Projects</a>
                            <a class="dropdown-item" href="{{ url_for('editAccount') }}">Edit Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                        </div>
                    </li>
                    </ul>
		        {% endif %}
            </div>
        {% endblock navbar %}
	</nav>
	 
	{% block content %} 
	{% endblock content %}

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script> 
	 
	 {% block scripts %} 
	 {% endblock scripts %}
</body>
</html>