{% extends "layout.html" %}
{% set active_page = "studentHome" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
{% endblock styles %}

{% block content %}
<h1>My Projects</h1>
<div class="container">
	<div class="col-sm-7 mx-auto">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
	
	{% if projects %}
		<div class="card-deck mt-4">
				{% for project in projects %}
				<div class="card text-center">
					{% if project.image %}
						<img class="card-img-top" src="/static/images/projects/{{ project.image }}" alt="Card image cap">
					{% endif %}
					<div class="card-body d-flex flex-column">
						<h5 class="card-title ">{{ project.title }}</h5>
						<p class="card-text">{{ project.semester }} {{ project.year }}</p>
						<p class="card-text" style="white-space: nowrap;">	
						</p>
						<a href="/ProjectStatus/{{ project.id }}" class="btn btn-primary mt-4 mx-auto">
							View Status
						</a>
					</div>
				</div>
				{% endfor %}
		</div>
	{% else %}
		<h6>You haven't join any project!</h6>
	{% endif %}
	<img src="/static/images/powered_by.png" class="mt-5 img-responsive">
</div>
{% endblock content %}