{% extends "layout.html" %} 

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}"> 
{% endblock styles %} 

{% block navbar %}
	<a class="navbar-brand px-4" href="{{ url_for('index') }}">
		<img src="/static/images/headLogo.png" style="max-height: 30px;margin-bottom:5px;"/>	
		ARVR Lab 
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
					<a class="nav-link" href="{{ url_for('index') }}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('proposedProjects') }}">Proposed Projects</a>
			</li>
		</ul>
	</div>
{% endblock navbar %}

{% block content %}
	<h1>Create Admin Account</h1>
	<div class="container">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group row justify-content-md-center">
				<div class="col-sm-8">
					{% with messages = get_flashed_messages(with_categories=true) %} 
						{% if messages %} 
							{% for category, message in messages %}
								<div class="alert alert-{{ category }}">
									{{ message }}
								</div>
							{% endfor %} 
						{% endif %} 
					{% endwith %}
				</div>
			</div>
			<div class="form-group row justify-content-md-center">
				<div class="col-md-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-user"></i></div>
						</div>
						{% if form.id.errors %} 
							{{ form.id(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.id.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %} 
							{{ form.id(class="form-control form-control-lg") }} 
						{% endif %}
					</div>
				</div>
			</div>

			<div class="form-group row justify-content-md-center">
				<div class="col-md-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-key"></i></div>
						</div>
						{% if form.password.errors %} 
							{{ form.password(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %} 
							{{ form.password(class="form-control form-control-lg") }} 
						{% endif %}
					</div>
				</div>
			</div>

			<div class="form-group row justify-content-md-center">
				<div class="col-md-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-key"></i></div>
						</div>
						{% if form.confirmPassword.errors %} 
							{{ form.confirmPassword(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.confirmPassword.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %} 
							{{ form.confirmPassword(class="form-control form-control-lg") }} 
						{% endif %}
					</div>
				</div>
			</div>

			<div class="form-group row justify-content-md-center mt-0">
				<div class="btn btn-primary mx-auto" style="border: 0px solid purple;">
					{{ form.submitForm(class="btn btn-primary shadow-none") }}
				</div>
			</div>
		</form>
	</div>
		
		

{% endblock content %}