{% extends "layout.html" %} 

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}"> 
{% endblock styles %} 

{% block navbar %}
	<a class="navbar-brand px-4" href="{{ url_for('index') }}">
		<img src="/static/images/headLogo.png" style="max-height: 30px;margin-bottom:5px;"/>	
		ARVR Lab 
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
					<a class="nav-link" href="{{ url_for('index') }}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('proposedProjects') }}">Proposed Projects</a>
			</li>
		</ul>
	</div>
{% endblock navbar %}

{% block content %}
	<h1 style="font-size:3em;">Virtual & Augmented Reality Lab<br>
		<span style="font-size:0.6em;">Reality, reimagined.</span>
	</h1>
			
	<div class="container" >
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group row justify-content-md-center">
				<div class="col-sm-8">
					{% with messages = get_flashed_messages(with_categories=true) %} 
						{% if messages %} 
							{% for category, message in messages %}
								<div class="alert alert-{{ category }}">
									{{ message }}
								</div>
							{% endfor %} 
						{% endif %} 
					{% endwith %}
				</div>
			</div>
			<div class="form-group row justify-content-md-center">
				<div class="col-md-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-user"></i></div>
						</div>
						{% if form.id.errors %} 
							{{ form.id(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.id.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %} 
							{{ form.id(class="form-control form-control-lg") }} 
						{% endif %}
					</div>
				</div>
			</div>

			<div class="form-group row justify-content-md-center">
				<div class="col-md-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-lock"></i></div>
						</div>
						{% if form.password.errors %} 
							{{ form.password(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %} 
							{{ form.password(class="form-control form-control-lg") }} 
						{% endif %}
					</div>
				</div>
			</div>
			
			<!--   Recaptcha
				{#
					
			<div class="form-group row justify-content-md-center">
				<div class=" mx-auto">
					{{ form.recaptcha }}
				</div>
			</div>
			<div class="form-group row justify-content-md-center">
				<div class="col-sm-6">
					{% if form.recaptcha.errors %} 
						{% for error in form.recaptcha.errors %}
							<div><span class="text-danger">{{ error }}</span></div>
						{% endfor %}
					{% endif %}
				</div>
			</div> 

				#}
			-->

			<div class="form-group row justify-content-md-center mt-0">
				<div class="btn btn-primary mx-auto" style="border: 0px solid purple;">
					{{ form.submitLoginForm(class="btn btn-primary shadow-none") }}
				</div>
			</div>
			<div class="form-group row justify-content-md-center mt-4 pb-0 mb-0">
				<div class="col">
					<a class="" href="{{ url_for('register') }}">
						Register
					</a>
				</div>
			</div>
			<div class="form-group row justify-content-md-center mt-2">
					<div class="col">
					<a class="" href="{{ url_for('resetRequest') }}">
						Forgot your password?
					</a>
				</div>
			</div>
		</form>
	</div>
		
		

{% endblock content %}