{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
{% endblock styles %}

{% block navbar %}
	<a class="navbar-brand px-4" href="{{ url_for('index') }}">
		<img src="/static/images/headLogo.png" style="max-height: 30px;margin-bottom:5px;"/>	
		ARVR Lab 
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
					<a class="nav-link" href="{{ url_for('index') }}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('proposedProjects') }}">Proposed Projects</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('login') }}">Login</a>
			</li>
		</ul>
	</div>
{% endblock navbar %}

{% block content %}
<h1>Registration</h1>
<div class="container mt-4">
			<form method="POST" action="" enctype="multipart/form-data">
				{{ form.hidden_tag() }}
				<fieldset class="form-group" style="border: 0px solid green;">

					<div class="col-sm-7 mx-auto" style="border: 0px solid red;">
						{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								{% for category, message in messages %}
									<div class="alert alert-{{ category }}">
										{{ message }}
									</div>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
					
					<div class="form-group row justify-content-md-center required">
						{{ form.studentId.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.studentId.errors %} 
								{{ form.studentId(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.studentId.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.studentId(class="form-control form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center required">
						{{ form.password.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.password.errors %} 
								{{ form.password(class="form-control	form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.password.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.password(class="form-control form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center required">
						{{ form.firstNameHeb.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.firstNameHeb.errors %} 
								{{ form.firstNameHeb(class="form-control	form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.firstNameHeb.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.firstNameHeb(class="form-control form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center required">
						{{ form.lastNameHeb.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.lastNameHeb.errors %} 
								{{ form.lastNameHeb(class="form-control	form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.lastNameHeb.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.lastNameHeb(class="form-control form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center required">
						{{ form.firstNameEng.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.firstNameEng.errors %} 
								{{ form.firstNameEng(class="form-control	form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.firstNameEng.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.firstNameEng(class="form-control form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center required">
						{{ form.lastNameEng.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.lastNameEng.errors %} 
								{{ form.lastNameEng(class="form-control	form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.lastNameEng.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.lastNameEng(class="form-control form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center required">
						{{ form.academicStatus.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.academicStatus.errors %} 
								{{ form.academicStatus(class="custom-select custom-select-lg my-select is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.academicStatus.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.academicStatus(class="custom-select custom-select-lg my-select form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center required">
						{{ form.faculty.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.faculty.errors %} 
								{{ form.faculty(class="custom-select custom-select-lg my-select is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.faculty.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.faculty(class="custom-select custom-select-lg my-select form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center">
						{{ form.cellPhone.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.cellPhone.errors %} 
								{{ form.cellPhone(class="form-control	form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.cellPhone.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.cellPhone(class="form-control form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center required">
						{{ form.email.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.email.errors %} 
								{{ form.email(class="form-control	form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.email(class="form-control form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center required">
						{{ form.semester.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.semester.errors %} 
								{{ form.semester(class="custom-select custom-select-lg my-select is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.semester.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.semester(class="custom-select custom-select-lg my-select form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center required">
						{{ form.year.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.year.errors %} 
								{{ form.year(class="custom-select custom-select-lg my-select is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.year.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.year(class="custom-select custom-select-lg my-select form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div class="form-group row justify-content-md-center required">
						{{ form.projectTitle.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3">
							{% if form.projectTitle.errors %} 
								{{ form.projectTitle(class="custom-select custom-select-lg my-select is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.projectTitle.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %} 
								{{ form.projectTitle(class="custom-select custom-select-lg my-select form-control-lg") }} 
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>

					<div id="supervisors">
					</div>

					<div class="form-group row justify-content-md-center mb-1">
						{{ form.profilePic.label(class="col-md-2 col-form-label") }} 
						<div class="col-md-3 ">
							<div class="input-group" style="text-align: left;">
								{% if form.profilePic.errors %} 
									<div class="custom-file form-control-lg" style="border-color: #dc3545;">
								{% else %}
									<div class="custom-file form-control-lg">
								{% endif %}
									{{ form.profilePic(class="custom-file-input form-control-lg") }}
									<label class="custom-file-label" for="profilePic">Choose file</label>
								</div>
							</div>
						</div>
						<div class="col-md-1"></div>					
					</div>
					<div class="form-group row justify-content-md-center">
						<label class="col-md-2 col-form-label mt-0" for=""></label>
						<div class="col-md-3" style="font-size: 80%">
							{% if form.profilePic.errors %} 
								{% for error in form.profilePic.errors %}
									<div><span class="text-danger">{{ error }}</span></div>
								{% endfor %}
							{% endif %}
						</div>
						<div class="col-md-1"></div>
					</div>
				</fieldset>
				<div class="form-group row justify-content-md-center">
					{{ form.recaptcha }}
				</div>
				<div class="form-group row justify-content-md-center">
					{% if form.recaptcha.errors %} 
						{% for error in form.recaptcha.errors %}
							<div><span class="text-danger">{{ error }}</span></div>
						{% endfor %}
					{% endif %}
				</div>
				<div class="form-group my-4">
					{{ form.submit(class="btn btn-primary col-sm-2 btn-lg") }}
				</div>

			</form>
		
</div>
<!-- script to display the filename when choosing a profile picture -->
{% endblock content %}

{% block scripts %}
	<script>
		$('.custom-file-input').on('change', function() { 
			let fileName = $(this).val().split('\\').pop(); 
			$(this).next('.custom-file-label').addClass("selected").html(fileName); 
		});

		function getSupervisors(projectId) {
			var xmlhttp = new XMLHttpRequest();
			var url = "/ProposedProjects/"+projectId+"/Supervisors";
			xmlhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var data = JSON.parse(this.responseText);
					$("#supervisors").empty();
					data.forEach(function (supervisor, index) {
						htmlContent = '<div class="form-group row justify-content-md-center">';
						htmlContent += '<label class="col-md-2 col-form-label">Supervisor '+(index+1)+'</label><div class="col-md-3"><select class="custom-select custom-select-lg my-select" disabled><option value="">';
						htmlContent += supervisor.firstNameEng + " " + supervisor.lastNameEng;
						htmlContent += '</option></select></div><div class="col-md-1"></div>';
						$("#supervisors").append(htmlContent);
					});
				}
			};
			xmlhttp.open("POST", url, true);
			xmlhttp.send();
		}

		$('#projectTitle').on('change', function() { 
			if (this.value === '') {
				$("#supervisors").empty();
			}
			else {
				getSupervisors(this.value); 
			}			
		});
		
	</script>
{% endblock scripts %}